*.o
*.lo
*~
Makefile
.deps
.dirstamp
.libs/
autom4te.cache/
config.h
config.log
config.status
libpng-config
libpng.pc
libpng.vers
libpng*-config
libpng*.la
libpng*.pc
libtool
png-fix-itxt
pngcp
pngfix
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngout.png
pngprefix.h
pngrust.h
pngstest
pngtest
pngunknown
pngvalid
scripts/vers.out
stamp-h1
target/
timepng